
<!-- ↓↓↓ 大图广告 代码块 ↓↓↓ -->
<div class="top_img">
  <span>The Black White Shirt<br>
   REMASTERED & REIMAGINED</span>
</div>
<!-- ↑↑↑ 大图广告 代码块 ↑↑↑ -->
<!-- ↓↓↓ 搜索无结果 代码块 ↓↓↓ -->
<% if @products.blank? %>
  <h2 class="text-center">There are no products containing the term <%= params[:search] %>.</h2>
<% end %>
<!-- ↑↑↑ 搜索无结果 代码块 ↑↑↑ -->
<!-- ↓↓↓ 产品索引 代码块 ↓↓↓ -->
<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].avatar.thumb.url, class: "list-image thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>

        <span class="title">
          <%= product.title %>
        </span>
        <br>
        <span class="price">
          ￥<%= product.price %>
        </span>

    </div>
  <% end %>
</div>
<!-- ↑↑↑ 产品索引 代码块 ↑↑↑ -->
