<hr>
<div class="row ">
  <!-- ↓↓↓ 产品图片 代码块 ↓↓↓ -->
  <div class="col-md-8 ">
    <!-- 显示第一张商品图片 - 使用 media 尺寸大圖 -->
    <div class="col-md-12">
      <%= image_tag(@photos.first.avatar.medium.url, class: 'medium-image thumbnail') %>
    </div>
    <!-- 其余图片 - 使用 small 尺寸小圖 -->
     <% @photos.each_with_index do |p| %>
        <div class="col-md-3 image-box">
            <%= image_tag(p.avatar.small.url, class: 'list-image thumbnail') %>
        </div>
     <% end %>
    </div>
  <!-- ↑↑↑ 产品图片 代码块 ↑↑↑ -->

  <!-- ↓↓↓ 产品选购 代码块 ↓↓↓ -->
  <div class="col-md-4">

    <div class="dash">
      <h2><%= @product.title %></h2>
      <h3>￥ <%= @product.price %></h3>
    </div>

    <div class="dash">
      <%= simple_format(@product.description) %>
      库存：<%= @product.quantity %>
    </div>

    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0%>
      <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
       已销售以空，无法购买
      <% end%>
    </div>

    </div>
  </div>
  <!-- ↓↓↓ 产品选购 代码块 ↓↓↓ -->
</div>
